body {
  font-family: 'Open Sans', sans-serif;
  color: #535353;
}

.img-fluid {
  max-width: 100% !important;
  height: auto;
}

.form-control:focus {
  box-shadow: none;
}

a {
  text-decoration: none;
}
/** Login 20 start **/
.login {
  background: rgba(0, 0, 0, 0.04) url(../images/computer-1867758_1920-min.jpg) top left repeat;
  background-size: cover;
  top: 0;
  width: 100%;
  bottom: 0;
  opacity: 1;
  min-height: 100vh;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.login .login-inner-form {
  max-width: 450px;
  margin: 0 auto;
  color: #717171;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login .login-inner-form .details {
  padding: 50px 30px 50px;
  background: #fff;
  border-radius: 5px 5px 0 0;
}

.login .login-inner-form img {
  margin-bottom: 15px;
  height: 30px;
}

.login .login-inner-form h3 {
  margin: 0 0 30px;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  color: #313131;
}

.login .login-inner-form .form-group {
  margin-bottom: 25px;
}

.login .login-inner-form .input-text {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  outline: none;
  color: #717171;
  border-radius: 3px;
  height: 50px;
}

.login .login-inner-form .btn-md {
  cursor: pointer;
  padding: 13px 30px 12px 30px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 3px;
  font-family: 'Jost', sans-serif;
}

.login .login-inner-form .social-list{
  margin-bottom: 0;
  padding: 0;
}

.login .login-inner-form .checkbox a {
  font-size: 16px;
  color: #717171;
  float: right;
}

.login .login-inner-form .terms{
  margin-left: 3px;
}

.login .login-inner-form .checkbox {
  margin-bottom: 25px;
  font-size: 14px;
}

.login .login-inner-form .form-check{
  float: left;
  margin-bottom: 0;
}

.login .login-inner-form .form-check a {
  color: #717171;
  float: right;
}

.login .login-inner-form .form-check-input {
  position: absolute;
  margin-left: 0;
}

.login .login-inner-form .form-check label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  width: 17px;
  height: 17px;
  margin-left: -25px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
}

.login .login-inner-form .form-check-label {
  padding-left: 25px;
  margin-bottom: 0;
  font-size: 16px;
}

.login .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.login .login-inner-form input[type=checkbox]:checked + label:before {
  font-weight: 300;
  color: #f3f3f3;
  line-height: 15px;
  font-size: 14px;
  content: "\2713";
}

.login .login-inner-form input[type=checkbox], input[type=radio] {
  margin-top: 4px;
}

.login .login-inner-form .social-list li {
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}

.login .login-inner-form .social-list li a {
  margin:0 2px 2px;
  font-size: 18px;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  line-height: 45px;
}

.login h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Jost', sans-serif;
}

.login .login-inner-form .footer {
  font-size: 16px;
  padding: 20px 20px;
  background-color: #f5f5f5;
  border-radius: 0 0 5px 5px;
  border-top: solid 1px #f5f5f5;
}

.login .login-inner-form .footer span a {
  color: #717171;
}

.login .login-inner-form button:focus {
  outline: none;
  outline: 0 auto -webkit-focus-ring-color;
}

.login .login-inner-form .btn-theme:not([disabled]):not(.disabled).active, .btn-theme:not([disabled]):not(.disabled):active, .show > .btn-theme.dropdown-toggle {
  box-shadow: none;
}

.login .login-inner-form .btn-theme.focus, .btn-theme:focus {
  box-shadow: none;
}

.login .login-inner-form .btn-theme {
  background: #0d6efd;
  border: none;
  color: #fff;
}

.login .login-inner-form .btn-theme:hover {
  background: #0d6efd;
}

/** Social media **/
.login .facebook-bg {
  background: #4867aa;
  color: #fff;
}

.login .facebook-bg:hover {
  background: #3b589e;
  color: #fff;
}

.login .twitter-bg {
  background: #33CCFF;
  color: #fff;
}

.login .twitter-bg:hover {
  background: #56d7fe;
  color: #fff;
}

.login .google-bg {
  background: #db4437;
  color: #fff;
}

.login .google-bg:hover {
  background: #dc4e41;
  color: #fff;
}

.login .linkedin-bg {
  background: #0177b5;
  color: #fff;
}

.login .linkedin-bg:hover {
  background: #1c82ca;
  color: #fff;
}

/** MEDIA **/
@media (max-width: 992px) {
  .login {
      padding: 30px 0;
  }
}
